---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "operator.fullname" . }}-clusterrole
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
      - configmaps
      - secrets
      - services
      - endpoints
      - serviceaccounts
      - secrets
      - persistentvolumeclaims
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - roles
      - rolebindings
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - statefulsets
    verbs:
      - get
      - create
      - delete
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - get
  - apiGroups:
      - events.k8s.io
    resources:
      - events
    verbs:
      - create
  - apiGroups:
      - nine.nineinfra.tech
    resources:
      - nineclusters
      - nineclusters/status
    verbs:
      - get
      - list
      - patch
      - watch
      - update
  - apiGroups:
      - minio.min.io
    resources:
      - "*"
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - directpv.min.io
    resources:
      - "*"
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - kyuubi.nineinfra.tech
    resources:
      - "*"
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - metastore.nineinfra.tech
    resources:
      - "*"
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - postgresql.cnpg.io
    resources:
      - "*"
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - doris.selectdb.com
    resources:
      - "*"
    verbs:
      - create
      - get
      - list
      - patch
      - update
      - watch